
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}


.wrapper{
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    max-width: 1550px;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-title:hover{
    color: #236d46;
    transition: .5s;
}
.nav-menu{
    width: 350px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icons svg{
    fill: #FFFFFF;
    position: relative;
}
.nav-icons svg:hover{
    fill:#236d46;
    transition: .5s;
}

.separator svg::after{
    content: "";
    border: 40px solid  rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}


.nav-registration{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 53px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-registration::before{
    content: "";
    position: absolute;
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    left:20px;

}

.nav-login,
.nav-sign {
    padding: 0 5px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.nav-login:hover,
.nav-sign:hover {
    color: #236d46;
    transition: .5s;
}

/*======= Form ================*/

.form-container{
    background: #FFFFFF;
    width: 444px;
    height: 590px;
    margin: 54px auto;
    display: flex;
    align-items: center;
}

.form-content{
    padding: 31px 60px 0 60px;
    position: relative;
}

.decoration-box{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}
.form-inputs{
    padding-bottom: 38px;
}

.form-top{
    display: flex;
    justify-content: space-between;
}

.form-header{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-sign{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    align-self: center;
    text-decoration: none;
}

.form-sign:hover{
    text-decoration: underline;
    color: #01813F;
    transition: .5s;
}

.form-buttons{
    display: flex;
}
.form-btn{
    font-family: 'Ubuntu', sans-serif;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin: 15px 2px 32px 2px;
    cursor:pointer;
}

.btn-red{
    background: #DF4A32;
}
.btn-red:hover{
    background: #AB1F09;
    transition: .5s;
}

.btn-blue{
    background: #305DB8;
}

.btn-blue:hover{
    background: #022263;
    transition: .5s;
}
.btn-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.btn-text::before {
    content: '';
    border-left: 1px solid  #0A162F;
    background: #0A162F;
    margin: 0 18px;
    opacity: 0.1;
}


.form-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-bottom: 10px;
    position: relative;
}

.form-text::before{
    content: "";
    position: absolute;
    border: 1px solid #F2F2F2;
    width: 145px;
    left: 2px;
    bottom: 50%;
}

.form-text::after{
    content: "";
    position: absolute;
    border: 1px solid #F2F2F2;
    width: 145px;
    right: 2px;
    bottom: 50%;
}


.form-input{
    box-sizing: border-box;
    width: 322px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 20px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}


.form-input::placeholder{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form-input {
    font-size: 14px;

}

.form-input:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    transition: .5s;
}

.form-label{
    display: flex;
    align-items: center;
}


.default-checkbox{
    opacity: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 12px;
}

.default-checkbox:checked +.custom-checkbox {
    background-image: url("../image/favicons/chckbox.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox-link{
    color: #3cb878;
    text-decoration: none;
}

.checkbox-link:hover{
    border-bottom: 1px solid #01813f;
    padding-bottom: 2px;
    color:#01813f;
}

.input-btn{
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.input-btn:hover{
    background: #01813F;
    transition: .5s;
}

.input-btn-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}