@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.menu-header {
    text-align: center;
    margin: 25px auto;
}

.menu-header-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
    padding: 0 36px;
}

.main-img {
    width: 100%;
}

.main-content {
    width: 1145px;
    margin: 0 auto;
    text-align: center;
}

.main-content-title {
    margin-top: 48px;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.main-content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-bottom: 28px;
}

.btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: #FF0000;
    padding: 18px 43px;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 66px;
    cursor: pointer;
}

.footer{
text-align: right;
    margin-top: 82px;
    margin-bottom: 29px;
    padding-right: 37px;
}

.footer-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}